<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Get Started</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  </head>
  <body class="bg-gray-100 flex items-center justify-center min-h-screen">
    <div class="bg-white p-8 rounded shadow-md w-full max-w-md">
      <h2 class="text-2xl font-semibold mb-6 text-center" id="header">
        SIGN IN
      </h2>

      <div id="signin-form">
        <div class="input-group mb-4">
          <input
            type="email"
            id="signin-email"
            placeholder="Email"
            class="w-full p-2 border rounded mb-2"
          />
          <p id="signin-email-error" class="text-red-500 text-sm/3 hidden">
            Invalid email.
          </p>
        </div>

        <div class="input-group mb-4">
          <input
            type="password"
            id="signin-password"
            placeholder="Password"
            class="w-full p-2 mb-2 border rounded"
          />
          <p id="signin-password-error" class="text-red-500 text-sm/3 hidden">
            Password required.
          </p>
        </div>

        <button
          id="signin-button"
          class="w-full bg-white border border-teal-600 text-teal-600 font-medium p-2 mb-4 rounded hover:bg-teal-600 hover:text-white"
        >
          SUBMIT
        </button>

        <div class="flex space-x-2">
          <button
            class="w-full bg-red-500 text-white p-2 rounded flex items-center justify-center hover:bg-red-600"
            id="signin-google"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M20.283 10.356h-8.327v3.451h4.793c-.391 1.054-1.233 1.65-2.793 1.65a2.051 2.051 0 0 1-1.519-.657 2.132 2.132 0 0 1-.798-1.773 2.7 2.7 0 0 1 2.793-2.819c1.153 0 2.039.523 2.519 1.457l1.984-.001zM10.798 14.009v-3.451h-3.965c-.089 1.193-.36 2.348-.798 3.451l4.763-.001zM15.225 6.557a5.56 5.56 0 1 0-10.992 0l-.001.156v3.298h.002c.005 1.454.422 2.906 1.184 4.143l.374 1.332c-.162.064-.311.117-.48.169a1.294 1.294 0 0 0-.527 1.272l.001 2.334c.14 0 .28.001.42.001 1.626 0 3.02-.37 4.227-1.184 1.13-.746 1.879-1.92 2.248-3.298h-.002c-.619 1.191-1.803 2.132-3.295 2.75l-.001.002a6.406 6.406 0 0 0 5.617-4.103l1.984-.001z"
              />
            </svg>
            Google
          </button>
        </div>

        <p class="mt-4 text-center">
          Don't have an account?
          <a href="#" id="toggle-signup" class="text-teal-600">Sign Up</a>
        </p>
      </div>

      <div id="signup-form" class="hidden">
        <div class="input-group mb-4">
          <input
            type="text"
            id="signup-name"
            placeholder="Name"
            class="w-full p-2 mb-2 border rounded"
          />
          <p id="signup-name-error" class="text-red-500 text-sm/3 hidden">
            Name required.
          </p>
        </div>
        <div class="input-group mb-4">
          <input
            type="email"
            id="signup-email"
            placeholder="Email"
            class="w-full p-2 mb-2 border rounded"
          />
          <p id="signup-email-error" class="text-red-500 text-sm/3 hidden">
            Invalid email.
          </p>
        </div>
        <div class="input-group mb-4">
          <input
            type="password"
            id="signup-password"
            placeholder="Password"
            class="w-full p-2 mb-2 border rounded"
          />
          <p id="signup-password-error" class="text-red-500 text-sm/3 hidden">
            Password must be at least 8 characters.
          </p>
        </div>

        <button
          id="signup-button"
          class="w-full bg-white border border-teal-600 text-teal-600 font-medium p-2 mb-4 rounded hover:bg-teal-600 hover:text-white"
        >
          SUBMIT
        </button>

        <div class="flex space-x-2">
          <button
            class="w-full bg-red-500 text-white p-2 rounded flex items-center justify-center hover:bg-red-600"
            id="signup-google"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              class="h-5 w-5 mr-2"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
            >
              <path
                d="M12 4c-4.42 0-8 3.58-8 8s3.58 8 8 8 8-3.58 8-8-3.58-8-8-8zm0 14c-3.31 0-6-2.69-6-6s2.69-6 6-6 6 2.69 6 6-2.69 6-6 6zm-1-7h2v4h-2zm0-2h2v2h-2z"
                fill="#ffffff"
              />
            </svg>
            Google
          </button>
        </div>

        <p class="mt-4 text-center">
          Already have an account?
          <a href="#" id="toggle-signin" class="text-teal-600">Sign In</a>
        </p>
      </div>
    </div>

    <script type="module" src="/js/auth.js"></script>
  </body>
</html>
