<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Design Your T-Shirt - KAMADA</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.1.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <style>
      body {
        font-family: "Poppins", sans-serif;
      }
      .info-box {
        position: absolute;
        background-color: white;
        border: 1px solid #ccc;
        padding: 8px;
        border-radius: 4px;
        z-index: 10; /* Ensure it's above other elements */
        max-width: 300px; /* Limit width */
      }

      @media (max-width: 768px) {
        .info-box {
          max-width: 80%; /* Adjust for smaller screens */
        }
      }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
  </head>
  <body class="bg-gray-100">
    <nav class="bg-white shadow-md p-4">
      <div class="container mx-auto flex items-center">
        <a href="/products" class="text-lg font-semibold text-gray-800 mr-4">
          <i class="ri-arrow-left-line"></i>
        </a>
        <a href="/" class="text-lg font-semibold text-gray-800 italic-bold-logo"
          >KAMADA</a
        >
      </div>
    </nav>

    <div
      class="container mx-auto mt-10 p-8 bg-white rounded-lg shadow-md min-h-[60vh]"
    >
      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="relative min-h-[50vh] max-h-[50vh] w-full">
          <div
            id="galleryImageContainer"
            class="relative min-h-full max-h-full w-full overflow-hidden"
          >
            <img
              id="galleryImage"
              src=""
              alt="Product Image"
              class="w-full h-[50vh] object-contain transition-opacity duration-300 border"
            />
            <div
              id="galleryControls"
              class="absolute left-0 right-0 top-0 bottom-0 flex justify-between p-4 opacity-0 hover:opacity-100 transition-opacity duration-300 bg-black bg-opacity-20"
            >
              <button
                onclick="prevImage()"
                class="bg-gray-200 p-2 rounded-full"
              >
                <i class="ri-arrow-left-s-line"></i>
              </button>
              <button
                onclick="nextImage()"
                class="bg-gray-200 p-2 rounded-full"
              >
                <i class="ri-arrow-right-s-line"></i>
              </button>
            </div>
          </div>
        </div>

        <div>
          <div
            class="flex flex-col lg:flex-row lg:items-center justify-between mb-4"
          >
            <h1
              id="productName"
              class="text-2xl font-semibold mb-2 lg:mb-0"
            ></h1>
            <p id="productPrice" class="text-xl text-green-600 font-bold"></p>
          </div>
          <div id="productDetails" class="text-gray-700"></div>
        </div>
      </div>
    </div>

    <div class="container mx-auto mt-10 p-8 bg-white rounded-lg shadow-md">
      <h1 class="text-3xl font-semibold mb-6">Design Your Custom T-Shirt</h1>

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
        <div class="order-1 lg:order-none relative h-[33vh]">
          <div class="mb-6 h-full">
            <div class="flex items-center justify-between">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Upload your design prints:
              </label>
              <div class="flex items-center">
                <i
                  class="ri-information-line text-gray-500 cursor-pointer info-icon mr-2"
                  data-info="Upload all design files you want to print on the shirt, including front, back, and any other details."
                ></i>
                <button
                  id="addFilesButton"
                  class="flex items-center bg-cyan-500 text-white hover:text-cyan-500 hover:bg-slate-200 px-2 rounded gap-2"
                >
                  <i class="ri-add-line font-bold"></i>
                  <span class="hidden lg:inline font-medium">Add Files</span>
                </button>
              </div>
            </div>
            <input
              type="file"
              id="designUploadPrints"
              class="hidden"
              multiple
              accept="image/jpeg, image/png, image/gif, image/webp, image/svg+xml, image/tiff, image/tif, application/pdf, application/postscript, application/vnd.adobe.illustrator, application/illustrator, application/x-illustrator, application/x-eps, application/coreldraw, application/cdr, image/vnd.adobe.photoshop, application/photoshop, application/x-indesign, application/x-xd, application/sketch, application/zip, application/x-rar-compressed, application/vnd.openxmlformats-officedocument.wordprocessingml.document, application/vnd.openxmlformats-officedocument.presentationml.presentation"
            />
            <div
              id="uploadedFilesList"
              class="border border-gray-400 rounded-lg p-4 relative h-full overflow-y-auto"
            >
              <p
                id="uploadPlaceholder"
                class="text-gray-500 text-center italic"
              >
                For files exceeding 50MB, please provide a Google Drive link in
                the "Design Notes" section.
              </p>
            </div>
            <div
              class="absolute bg-blue-100 border border-gray-300 rounded p-2 text-sm z-10 hidden w-full top-7 right-0 info-box"
            ></div>
          </div>
        </div>

        <div class="order-2 lg:order-none relative h-[33vh]">
          <div class="mb-6 h-full">
            <div class="flex items-center justify-between">
              <label class="block text-gray-700 text-sm font-bold mb-2">
                Design Notes:
              </label>
              <i
                class="ri-information-line text-gray-500 cursor-pointer info-icon"
                data-info="Explain how you want the design to be printed on the shirt."
              ></i>
            </div>
            <textarea
              id="designNotes"
              class="border rounded w-full h-full p-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline resize-none"
              placeholder="Add any specific instructions or notes for your design"
            ></textarea>
            <div
              class="absolute bg-blue-100 border border-gray-300 rounded p-2 text-sm z-10 hidden w-full top-7 right-0 info-box"
            ></div>
          </div>
        </div>
      </div>

      <div class="mt-12">
        <h2 class="text-2xl font-semibold mb-6 border-b pb-2">
          Specify Details
        </h2>

        <div class="grid grid-cols-1 lg:grid-cols-2 gap-8">
          <div class="order-2 lg:order-none flex flex-col">
            <div id="variationsContainer" class="flex flex-col"></div>

            <div class="mb-4">
              <label
                for="quantityInput"
                class="block text-gray-700 text-sm font-bold mb-2"
              >
                Quantity:
              </label>
              <input
                type="number"
                id="quantityInput"
                class="border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                placeholder="Quantity"
                oninput="this.value = this.value.replace(/[^0-9]/g, ''); if (this.value.length > 1 && this.value.startsWith('0')) { this.value = this.value.substring(1); }"
                onpaste="event.clipboardData && /[^0-9]/g.test(event.clipboardData.getData('text')) && event.preventDefault();"
              />
            </div>

            <div class="flex justify-end mt-auto">
              <button
                id="addItemButton"
                class="bg-cyan-500 hover:bg-cyan-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
              >
                Add to List
              </button>
            </div>
          </div>

          <div
            id="orderListContainer"
            class="order-1 lg:order-none flex flex-col"
          >
            <h3 class="font-semibold mb-4">Order List:</h3>
            <ul
              id="orderList"
              class="border rounded p-4 flex-grow overflow-y-auto"
            ></ul>
          </div>
        </div>
      </div>

      <div class="flex justify-end mx-10 mt-5">
        <button
          id="checkoutButton"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"
        >
          Checkout
        </button>
      </div>
    </div>

    <footer class="bg-gray-200 py-8 text-center mt-8">
      <p class="text-gray-600">
        &copy; <%= new Date().getFullYear() %> KAMADA. All rights reserved.
      </p>
    </footer>

    <script src="/js/design-details.js"></script>
  </body>
</html>
