<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Track Your Order</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
      rel="stylesheet"
    />
  </head>
  <body
    class="bg-gray-100 p-4 lg:h-screen lg:flex lg:items-center lg:justify-center"
  >
    <div
      class="bg-white rounded-lg shadow-md max-w-4xl mx-auto w-full lg:max-w-[1000px] lg:min-w-[1000px]"
    >
      <div class="flex flex-col">
        <div class="w-full flex justify-center border">
          <ol
            class="flex flex-col md:flex-row md:justify-center md:items-center md:w-full w-fit gap-4 p-6"
          >
            <li
              class="flex items-center text-blue-600 dark:text-blue-500 gap-4"
              id="step-1"
            >
              <span
                class="flex items-center justify-center w-8 h-8 border border-blue-600 rounded-full shrink-0 dark:border-blue-500"
              >
                1
              </span>
              <span>
                <h3 class="font-medium leading-tight">
                  Order Placement & Initial Processing
                </h3>
                <p class="text-sm">
                  Your order has been received and is being processed.
                </p>
              </span>
            </li>
            <li
              class="flex items-center text-gray-500 dark:text-gray-400 gap-4"
              id="step-2"
            >
              <span
                class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-gray-400"
              >
                2
              </span>
              <span>
                <h3 class="font-medium leading-tight">Production & Printing</h3>
                <p class="text-sm">
                  Your order is now in the production and printing phase.
                </p>
              </span>
            </li>
            <li
              class="flex items-center text-gray-500 dark:text-gray-400 gap-4"
              id="step-3"
            >
              <span
                class="flex items-center justify-center w-8 h-8 border border-gray-500 rounded-full shrink-0 dark:border-gray-400"
              >
                3
              </span>
              <span>
                <h3 class="font-medium leading-tight">Shipping & Delivery</h3>
                <p class="text-sm">
                  Your order is being prepared for shipping or delivery.
                </p>
              </span>
            </li>
          </ol>
        </div>

        <div class="lg:flex">
          <div class="w-full p-6 lg:w-1/2">
            <div>
              <h2 class="font-semibold text-gray-500">
                Tracking ID: <br />
                <span id="tracking-id" class="text-black text-xl"></span>
              </h2>
              <div class="flex justify-between">
                <p class="">
                  <span class="text-sm font-medium">Product Name:</span>
                  <span id="product-name"></span>
                </p>
                <p class="text-sm mb-2">
                  <span class="font-medium text-gray-500">Product ID:</span>
                  <span id="product-id" class="text-gray-500"></span>
                </p>
              </div>
              <div class="flex justify-between">
                <p class="mb-2">
                  <strong>Quantity:</strong> <span id="quantity"></span>
                </p>
                <p class="mb-2">
                  <strong>Price:</strong> <span id="price"></span>
                </p>
              </div>
              <p class="mt-4"><strong>Design Notes:</strong></p>
              <div
                id="design-notes"
                class="border w-full max-h-[300px] min-h-[300px] rounded p-2 overflow-y-auto"
              ></div>

              <div id="timeline-mobile-container" class="lg:hidden mt-4">
                <ol
                  id="timeline-mobile"
                  class="relative text-gray-500 border-s border-gray-200 dark:border-gray-700 dark:text-gray-400"
                ></ol>
              </div>
            </div>
            <div class="flex justify-between items-center mt-6">
              <button
                id="payment-button"
                class="bg-gray-400 text-white font-bold py-2 px-4 rounded disabled:opacity-50"
                disabled
                data-state="disabled"
              >
                Pay Now
              </button>
              <p class="text-lg font-semibold">
                Total: <span id="total-price"></span> PHP
              </p>
            </div>
          </div>

          <div
            id="timeline-desktop-container"
            class="w-full p-6 lg:w-1/2 hidden lg:flex lg:items-center lg:justify-center"
          >
            <ol
              id="timeline-desktop"
              class="relative text-gray-500 border-s border-gray-200 dark:border-gray-700 dark:text-gray-400"
            ></ol>
          </div>
        </div>

        <div class="p-4 flex flex-col lg:flex-row hidden">
          <div class="mb-4 lg:mb-0 lg:mr-4">
            <label
              for="detailed-stepper-select"
              class="block text-sm font-medium text-gray-700"
              >Detailed Stepper Step:</label
            >
            <select
              id="detailed-stepper-select"
              class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            >
              <option value="1">Order Placement & Initial Processing</option>
              <option value="2">Production & Printing</option>
              <option value="3">Shipping & Delivery</option>
            </select>
          </div>
          <div>
            <label
              for="timeline-stepper-select"
              class="block text-sm font-medium text-gray-700"
              >Timeline Stepper Step:</label
            >
            <select
              id="timeline-stepper-select"
              class="mt-1 block w-full border-gray-300 rounded-md shadow-sm focus:ring-blue-500 focus:border-blue-500 sm:text-sm"
            >
              <option value="0">Order Received</option>
              <option value="1">Design Proofing/Review</option>
              <option value="2">Design Approved</option>
              <option value="3">Payment Confirmed</option>
              <option value="4">In Production</option>
              <option value="5">Printing Completed</option>
              <option value="6">Finishing/Binding</option>
              <option value="7">Quality Check</option>
              <option value="8">Ready for Pickup/Shipping</option>
              <option value="9">Shipped</option>
              <option value="10">Out for Delivery</option>
              <option value="11">Delivered</option>
            </select>
          </div>
        </div>
      </div>

      <div class="flex justify-center">
        <a href="/" class="text-slate-500 hover:underline mb-4">Back to Home</a>
      </div>
    </div>
    <script src="/js/track-order.js"></script>
  </body>
</html>
